.lnr-lg {
  font-size: 1.4em;
}

.lnr-2x {
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  .box {
    border-radius: 0;
  }
}

.main-wrapper {
  padding: 0;
}

.content-wrapper {
  background-color: $color-lightest;
  margin-left: $navigation-width;
  min-height: 100vh;
  padding-top: $header-height + 1px;
  @include transition(margin-left, 0.3s, linear);

  @media screen and (max-width: 767px) {
    margin-left: 0px;
  }
}

#cookie-reminder {
  background-color: palette(Black);
  @include border-radius;
  color: palette(White);
  display: none;
  padding: 5px 20px;
  position: absolute;
  right: 20px;
  text-align: right;
  top: 20px;

  p {
    font-size: 1.6em;
  }
}

.tank {
  background-color: $color-white;
  @include border-radius;
  @include box-shadow(0, 5px, 10px);
  overflow: hidden;

  &.bt-red {
    border-top: 3px solid $color-red;
  }

  &.bt-green {
    border-top: 3px solid $color-green;
  }

  .tank-header {
    border-bottom: 1px solid $color-light;
    color: $font-color-secondary;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 20px;
  }

  .tank-body {
    padding: 20px;

    &.ql-editor {
      white-space: normal;
    }

    &.no-padd {
      padding: 0;
    }
  }

  .tank-footer {
    padding: 20px;
  }
}

.pic {
  object-fit: cover;

  &.pic-profile-sm {
    border-radius: 30px;
    height: 60px;
    width: 60px;
  }
}