.btn {
  border: 0;
  cursor: pointer;
}

.btn-primary {
  background-color: $blue;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($blue, 10%);
  }
}

.btn-gradient {
  background: linear-gradient(120deg, $color-dark-blue 0, $color-blue 100%);

  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(120deg, $color-dark-blue 40%, $color-blue 100%);
  }
}

.btn-main {
  background-color: $color-secondary;
  @include box-shadow(0, 2px, 5px, $color-shadow);
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1.4px;
  line-height: 1em;
  margin: 20px 0;
  padding: 10px 25px;
  //text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-transform: uppercase;

  &:hover {
    background-color: lighten($color-secondary, 10%);
    transform: translateY(-1px);
    @include box-shadow(0, 3px, 6px, $color-shadow);
  }
}

.btn-new-post {
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, $color-blue, $color-blue-light);
  border-radius: 25px;
  @include box-shadow(0, 2px, 5px, rgba(0,0,0,0.2));
  color: $color-white;
  display: flex;
  height: 50px;
  text-align: center;
  transition: all 0.1s linear;
  width: 50px;

  &:hover {
    @include box-shadow(0, 4px, 7px, rgba(0,0,0,0.2));
    color: $color-white;
    transform: translateY(-1px);
  }
}

.button {
  background-color: $blue;
  @include border-radius;
  font-size: 1.2em;
  font-weight: 600;

  &:hover {
    background-color: palette(Blue, 600);
  }

  .secondary {
    background-color: $middle;

    &:hover {
      background-color: $dark;
    }
  }

  &.small {
    font-size: 0.85rem;
  }
}