/*
*---------------------------------------------------------
* Form Insert
*---------------------------------------------------------
*/

.form {
  background: palette(White);
  @include border-radius;
  padding: 20px;

  input {
    background-color: palette(White);
    @include border(palette(Grey));
    @include border-radius;
    box-shadow: none;
    display: block;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: 20px;
    padding: 10px;
    transition: none;
    width: 100%;
  }

  [type="email"],
  [type="password"],
  [type="text"] {
    box-shadow: none;
    transition: none;
  }

  select {
    background: palette(White);
    @include border(palette(Grey));
    @include border-radius;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
}