#top-nav {
  background-color: $white;
  border-bottom: 1px solid $lightest;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .row {
    height: $header-height;
  }

  .menu {
    margin: 0;

    #search-wrapper {
      border-left: 1px solid $lightest;
      height: $header-height;
      padding: 0;
      position: relative;

      input {
        border: 0;
        box-shadow: none;
        font-size: 1.4em;
        height: 100%;
        width: 600px;
        padding: 15px;

        &:focus {
          box-shadow: none;
          outline: none;

          ~ .search-underline {
            width: 100%;
          }
        }
      }

      .search-underline {
        background-color: $blue;
        height: 3px;
        left: 0;
        top: -3px;
        position: relative;
        transition: width 0.3s ease;
        width: 0;
      }

      @media screen and (max-width: 991px) {
        input {
          width: 400px;
        }
      }
    }

    @media screen and (max-width: 767px) {
      #search-wrapper {
        display: none;
      }
    }

    #search-sign-mobile {
      display: none;
    }

    @media screen and (max-width: 767px) {
      #search-sign-mobile {
        display: inline-block;
      }
    }

    li {

      &.list-inline-item {
        margin: 0;

        &:last-child {
          margin-right: -15px
        }
      }

      a {
        border-left: 1px solid $lightest;
        color: $middle;
        height: $header-height;
        margin-right: 0;
        padding: 25px 24px 21px 24px;

        &:hover {
          background-color: $lightest;
          color: $darker;
        }
      }

      @media screen and (max-width: 767px) {
        a {
          padding: 22px 24px;
        }
      }

      i {
        margin-right: 0;
      }
    }

    #search-result-desktop {
      background-color: palette(White);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      @include box-shadow;
      display: none;
      padding: 10px;
      position: absolute;
      margin-top: 1px;
      text-align: left;
      width: 100%;
    }
  }
}

#search-wrapper-mobile {
  background-color: palette(White);
  display: none;
  height: $header-height;
  left:0;
  padding: 0;
  position: absolute;
  top: $header-height + 1px;
  width: 100%;
  z-index: 1000;

  input {
    border: 0;
    border-bottom: 1px solid $lightest;
    box-shadow: none;
    font-size: 1.4em;
    height: $header-height;
    margin: 0;
    padding: 15px;
    width: 100%;

    &:focus {
      outline: 0;
      ~ .search-underline {
        width: 100%;
      }
    }
  }

  .search-underline {
    background-color: $blue;
    height: 3px;
    left: 0;
    top: -3px;
    position: relative;
    transition: width 0.5s ease;
    width: 0;
  }

  &.show-search {
    display: block;
  }

  #search-result-mobile {
    background-color: palette(White);
    @include box-shadow;
    display: none;
    margin-top: -3px;
    padding: 10px;
    position: absolute;
    text-align: left;
    width: 100%;
  }
}

#nav-toggle {
  cursor: pointer;

  span {
    background-color: $middle;
    display: block;
    height: 3px;
    margin-bottom: 5px;
    width: 25px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &:hover {
    span {
      background-color: $darker;
    }
  }
}