html,
body {
  background-color: $color-white;
  color: $font-color-primary;
  font: 12px/16px 'Roboto', sans-serif;
  min-height: 100%;
}

h1, h2, h3, h4, h5 {
  color: $font-color-secondary;
  font-family: 'Roboto', sans-serif;
}

a {
  transition: color 0.3s ease, background-color 0.3s ease;

  &:hover {
    text-decoration: none;
  }
}

@each $margin in $margins {
  .margin-top-#{$margin} {
    margin-top: #{$margin}px;
  }

  .margin-bottom-#{$margin} {
    margin-bottom: #{$margin}px;
  }

  .margin-right-#{$margin} {
    margin-right: #{$margin}px;
  }

  .margin-left-#{$margin} {
    margin-left: #{$margin}px;
  }
}

@each $border-top-color in map-keys($border-top-colors) {
  .border-top-#{$border-top-color} {
    @include border-top(map_get($border-top-colors, $border-top-color), 5px);
  }
}