@mixin animation($name, $duration, $timing_function, $fill_mode) {
  animation: $name $duration $timing_function;
  animation-fill-mode: $fill_mode;
  -webkit-animation: $name $duration $timing_function;
  -webkit-animation-fill-mode: $fill_mode;
}

@mixin border($color, $width: 1px, $style: solid) {
  border: {
    color: $color;
    width: $width;
    style: $style;
  }
}

@mixin border-top($color, $width: 1px, $style: solid) {
  border-top: {
    color: $color;
    width: $width;
    style: $style
  }
}

@mixin border-radius {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

@mixin box-shadow($x: 0, $y: 2px, $blur: 3px, $color: $color-shadow-light) {
  box-shadow: $x $y $blur $color;
  -webkit-box-shadow: $x $y $blur $color;
}

@mixin transition($key, $duration, $timing_function) {
  transition: $key $duration $timing_function;
  -webkit-transition: $key $duration $timing_function;
}