$header-height: 60px;
$height-80px: 80px;
$height-60px: 60px;

$navigation-width: 200px;

$radius: 5px;

$margins: (
  10, 20, 30, 40, 50
);

$border-top-colors: (
  blue: $color-blue,
  green: $color-green,
  red: $color-red,
  yellow: $color-yellow
);

/* COLORS */
