.small {
  font-size: 0.75em;
  line-height: 1em; }

.red {
  color: red; }

.green {
  color: #00cc00; }

/* COLORS */
#top-nav {
  background-color: #fff;
  border-bottom: 1px solid #EEEEEE;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }
  #top-nav .row {
    height: 60px; }
  #top-nav .menu {
    margin: 0; }
    #top-nav .menu #search-wrapper {
      border-left: 1px solid #EEEEEE;
      height: 60px;
      padding: 0;
      position: relative; }
      #top-nav .menu #search-wrapper input {
        border: 0;
        box-shadow: none;
        font-size: 1.4em;
        height: 100%;
        width: 600px;
        padding: 15px; }
        #top-nav .menu #search-wrapper input:focus {
          box-shadow: none;
          outline: none; }
          #top-nav .menu #search-wrapper input:focus ~ .search-underline {
            width: 100%; }
      #top-nav .menu #search-wrapper .search-underline {
        background-color: #1A7CEF;
        height: 3px;
        left: 0;
        top: -3px;
        position: relative;
        transition: width 0.3s ease;
        width: 0; }
      @media screen and (max-width: 991px) {
        #top-nav .menu #search-wrapper input {
          width: 400px; } }
    @media screen and (max-width: 767px) {
      #top-nav .menu #search-wrapper {
        display: none; } }
    #top-nav .menu #search-sign-mobile {
      display: none; }
    @media screen and (max-width: 767px) {
      #top-nav .menu #search-sign-mobile {
        display: inline-block; } }
    #top-nav .menu li.list-inline-item {
      margin: 0; }
      #top-nav .menu li.list-inline-item:last-child {
        margin-right: -15px; }
    #top-nav .menu li a {
      border-left: 1px solid #EEEEEE;
      color: #2D353C;
      height: 60px;
      margin-right: 0;
      padding: 25px 24px 21px 24px; }
      #top-nav .menu li a:hover {
        background-color: #EEEEEE;
        color: #1A2229; }
    @media screen and (max-width: 767px) {
      #top-nav .menu li a {
        padding: 22px 24px; } }
    #top-nav .menu li i {
      margin-right: 0; }
    #top-nav .menu #search-result-desktop {
      background-color: #ffffff;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
      -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
      display: none;
      padding: 10px;
      position: absolute;
      margin-top: 1px;
      text-align: left;
      width: 100%; }

#search-wrapper-mobile {
  background-color: #ffffff;
  display: none;
  height: 60px;
  left: 0;
  padding: 0;
  position: absolute;
  top: 61px;
  width: 100%;
  z-index: 1000; }
  #search-wrapper-mobile input {
    border: 0;
    border-bottom: 1px solid #EEEEEE;
    box-shadow: none;
    font-size: 1.4em;
    height: 60px;
    margin: 0;
    padding: 15px;
    width: 100%; }
    #search-wrapper-mobile input:focus {
      outline: 0; }
      #search-wrapper-mobile input:focus ~ .search-underline {
        width: 100%; }
  #search-wrapper-mobile .search-underline {
    background-color: #1A7CEF;
    height: 3px;
    left: 0;
    top: -3px;
    position: relative;
    transition: width 0.5s ease;
    width: 0; }
  #search-wrapper-mobile.show-search {
    display: block; }
  #search-wrapper-mobile #search-result-mobile {
    background-color: #ffffff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
    display: none;
    margin-top: -3px;
    padding: 10px;
    position: absolute;
    text-align: left;
    width: 100%; }

#nav-toggle {
  cursor: pointer; }
  #nav-toggle span {
    background-color: #2D353C;
    display: block;
    height: 3px;
    margin-bottom: 5px;
    width: 25px; }
    #nav-toggle span:last-of-type {
      margin-bottom: 0; }
  #nav-toggle:hover span {
    background-color: #1A2229; }

html,
body {
  background-color: #FFF;
  color: #2D353C;
  font: 12px/16px 'Roboto', sans-serif;
  min-height: 100%; }

h1, h2, h3, h4, h5 {
  color: #47505E;
  font-family: 'Roboto', sans-serif; }

a {
  transition: color 0.3s ease, background-color 0.3s ease; }
  a:hover {
    text-decoration: none; }

.margin-top-10 {
  margin-top: 10px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-right-10 {
  margin-right: 10px; }

.margin-left-10 {
  margin-left: 10px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-right-20 {
  margin-right: 20px; }

.margin-left-20 {
  margin-left: 20px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.margin-right-30 {
  margin-right: 30px; }

.margin-left-30 {
  margin-left: 30px; }

.margin-top-40 {
  margin-top: 40px; }

.margin-bottom-40 {
  margin-bottom: 40px; }

.margin-right-40 {
  margin-right: 40px; }

.margin-left-40 {
  margin-left: 40px; }

.margin-top-50 {
  margin-top: 50px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

.margin-right-50 {
  margin-right: 50px; }

.margin-left-50 {
  margin-left: 50px; }

.border-top-blue {
  border-top-color: #1a80e6;
  border-top-width: 5px;
  border-top-style: solid; }

.border-top-green {
  border-top-color: #00cc00;
  border-top-width: 5px;
  border-top-style: solid; }

.border-top-red {
  border-top-color: red;
  border-top-width: 5px;
  border-top-style: solid; }

.border-top-yellow {
  border-top-color: yellow;
  border-top-width: 5px;
  border-top-style: solid; }

.btn {
  border: 0;
  cursor: pointer; }

.btn-primary {
  background-color: #1A7CEF; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #0e64c8; }

.btn-gradient {
  background: linear-gradient(120deg, #0f448a 0, #1a80e6 100%); }
  .btn-gradient:hover, .btn-gradient:focus, .btn-gradient:active {
    background: linear-gradient(120deg, #0f448a 40%, #1a80e6 100%); }

.btn-main {
  background-color: #1A7CEF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1.4px;
  line-height: 1em;
  margin: 20px 0;
  padding: 10px 25px;
  text-transform: uppercase; }
  .btn-main:hover {
    background-color: #4a97f2;
    transform: translateY(-1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); }

.btn-new-post {
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #1a80e6, #75aaf0);
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #FFF;
  display: flex;
  height: 50px;
  text-align: center;
  transition: all 0.1s linear;
  width: 50px; }
  .btn-new-post:hover {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    color: #FFF;
    transform: translateY(-1px); }

.button {
  background-color: #1A7CEF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 1.2em;
  font-weight: 600; }
  .button:hover {
    background-color: #1E88E5; }
  .button .secondary {
    background-color: #2D353C; }
    .button .secondary:hover {
      background-color: #232A2F; }
  .button.small {
    font-size: 0.85rem; }

/*
*---------------------------------------------------------
* Form Insert
*---------------------------------------------------------
*/
.form {
  background: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px; }
  .form input {
    background-color: #ffffff;
    border-color: #9E9E9E;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: none;
    display: block;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: 20px;
    padding: 10px;
    transition: none;
    width: 100%; }
  .form [type="email"],
  .form [type="password"],
  .form [type="text"] {
    box-shadow: none;
    transition: none; }
  .form select {
    background: #ffffff;
    border-color: #9E9E9E;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%; }

.lnr-lg {
  font-size: 1.4em; }

.lnr-2x {
  font-size: 2rem; }

@media screen and (max-width: 767px) {
  .box {
    border-radius: 0; } }

.main-wrapper {
  padding: 0; }

.content-wrapper {
  background-color: #F5F6F7;
  margin-left: 200px;
  min-height: 100vh;
  padding-top: 61px;
  transition: margin-left 0.3s linear;
  -webkit-transition: margin-left 0.3s linear; }
  @media screen and (max-width: 767px) {
    .content-wrapper {
      margin-left: 0px; } }

#cookie-reminder {
  background-color: #000000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #ffffff;
  display: none;
  padding: 5px 20px;
  position: absolute;
  right: 20px;
  text-align: right;
  top: 20px; }
  #cookie-reminder p {
    font-size: 1.6em; }

.tank {
  background-color: #FFF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
  overflow: hidden; }
  .tank.bt-red {
    border-top: 3px solid red; }
  .tank.bt-green {
    border-top: 3px solid #00cc00; }
  .tank .tank-header {
    border-bottom: 1px solid #d4e7e7;
    color: #47505E;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 20px; }
  .tank .tank-body {
    padding: 20px; }
    .tank .tank-body.ql-editor {
      white-space: normal; }
    .tank .tank-body.no-padd {
      padding: 0; }
  .tank .tank-footer {
    padding: 20px; }

.pic {
  object-fit: cover; }
  .pic.pic-profile-sm {
    border-radius: 30px;
    height: 60px;
    width: 60px; }

/**
*---------------------------------------------------------
* Front Page - Login and register form / logo
*---------------------------------------------------------
*/
.content-wrapper-auth {
  background: #F5F6F7;
  height: 100vh;
  padding: 50px 15px; }

.tank-auth {
  z-index: 1; }
  .tank-auth .tank-auth__logo {
    color: #47505E;
    font-weight: 300;
    line-height: 0.8em;
    padding: 40px 10px;
    text-align: center; }
    .tank-auth .tank-auth__logo span {
      font-size: 0.5em; }
  .tank-auth .tank-auth__tabs {
    border: 0;
    margin-left: -15px;
    margin-right: -15px; }
    .tank-auth .tank-auth__tabs li {
      margin-right: 0; }
    .tank-auth .tank-auth__tabs .nav-item {
      margin-bottom: -3px; }
    .tank-auth .tank-auth__tabs .nav-link {
      background-color: #F5F6F7;
      border: 0;
      border-radius: 0;
      color: #758296;
      font-size: 1em;
      font-weight: 600;
      letter-spacing: 1.4px;
      padding: 1rem 0;
      text-transform: uppercase; }
      .tank-auth .tank-auth__tabs .nav-link:hover {
        color: #47505E; }
      .tank-auth .tank-auth__tabs .nav-link:focus, .tank-auth .tank-auth__tabs .nav-link.active {
        background-color: transparent;
        border: 0;
        border-top: 3px solid #1A7CEF;
        border-bottom: 0;
        color: #47505E; }

.tank-auth__form-control {
  border-bottom: 1px solid #d4e7e7;
  padding: 10px 0; }
  .tank-auth__form-control:first-child {
    border-top: 1px solid #d4e7e7; }
  .tank-auth__form-control label {
    color: #758296;
    font-weight: 400;
    margin-bottom: 0; }
    .tank-auth__form-control label.selected {
      color: #2D353C;
      font-weight: 600; }
  .tank-auth__form-control input {
    border: 0;
    margin-bottom: 0; }

.tank-auth__form {
  line-height: normal;
  padding: 0; }
  .tank-auth__form .form-header {
    font-size: 1.6em;
    font-weight: 700; }
  .tank-auth__form .register-link {
    display: block;
    text-align: center; }

#login-info {
  position: relative;
  transform: translateY(-242px);
  transition: transform 1s ease-in-out;
  z-index: 0; }
  #login-info .login-info-body {
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #758296;
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px 20px 30px 20px; }
  @media screen and (max-width: 767px) {
    #login-info .login-info-body {
      margin-left: 0;
      margin-right: 0;
      padding: 40px 10px 30px 10px; } }
  #login-info .login-info-btn {
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 25px;
    position: relative; }
    #login-info .login-info-btn:hover {
      cursor: pointer; }
    #login-info .login-info-btn span {
      display: inline-block;
      transform: rotate(0deg);
      transition: transform 1s ease-in-out; }
      #login-info .login-info-btn span.up {
        transform: rotate(180deg); }

/*
*---------------------------------------------------------
* Errors & Alerts
*---------------------------------------------------------
*/
.flash-wrapper {
  left: 50%;
  margin-left: -200px;
  position: fixed;
  top: 30px;
  width: 400px;
  z-index: 3000; }

.flash-alert {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  font-size: 1rem;
  margin-bottom: 10px;
  opacity: 1;
  position: relative;
  top: 0;
  z-index: 3001; }
  .flash-alert .alert {
    background-color: #fff;
    border: 0;
    margin-bottom: 0;
    padding: 20px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
    .flash-alert .alert .alert-headline {
      font-size: 1.2rem;
      font-weight: 600; }
    .flash-alert .alert .alert-body {
      padding-top: 10px; }
    .flash-alert .alert.alert-success {
      background: linear-gradient(130deg, #00990a, #00cc00);
      color: #FFF; }
    .flash-alert .alert.alert-danger {
      background: linear-gradient(130deg, red, #ff3333);
      color: #FFF; }
    .flash-alert .alert.alert-warning {
      background: linear-gradient(130deg, #ff8000, #ffa733);
      color: #FFF; }
    .flash-alert .alert.alert-info {
      background: linear-gradient(130deg, #1a80e6, #75aaf0);
      color: #FFF; }
  .flash-alert:last-child {
    margin-bottom: 0; }

@media screen and (max-width: 767px) {
  .flash-wrapper {
    left: 0;
    margin: 0;
    padding: 0 10px;
    width: 100%; } }

/**
*---------------------------------------------------------
* Basic styles
*---------------------------------------------------------
*/
.main-header {
  background-color: #ffffff;
  border-bottom: 1px solid #EEEEEE; }
  .main-header.row {
    padding: 20px 0; }
  .main-header.has-tabs {
    padding-bottom: 0; }
  .main-header h3 {
    font-weight: 600; }
  .main-header .header-subline {
    color: #757575; }

.breadcrumb-wrapper.row {
  margin-bottom: 10px;
  margin-top: 10px; }

.breadcrumb-wrapper nav.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding-left: 0; }
  .breadcrumb-wrapper nav.breadcrumb .breadcrumb-item {
    font-size: 0.85rem; }

/*
==================================================
	SIDE NAVIGATION
==================================================
*/
#nav-sidebar {
  background: #1F364F;
  bottom: 0;
  color: #00ACAC;
  float: left;
  margin-left: 0px;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 61px;
  transition: margin-left 0.3s ease;
  -webkit-transition: margin-left 0.3s ease;
  width: 200px;
  z-index: 1199; }
  #nav-sidebar .brand {
    color: #ffffff;
    font-size: 1.6em;
    font-weight: 300;
    padding: 30px;
    text-align: center; }
  #nav-sidebar .user-nav {
    margin: 10px 0;
    text-align: center; }
    #nav-sidebar .user-nav img {
      border-radius: 50px;
      display: block;
      height: 100px;
      margin: 0 auto;
      width: 100px; }
    #nav-sidebar .user-nav .name a {
      color: #ffffff;
      display: block;
      font-size: 1.2em;
      font-weight: 600;
      padding: 10px 0 3px 0; }
      #nav-sidebar .user-nav .name a:hover {
        color: #64B5F6; }
  @media screen and (max-width: 767px) {
    #nav-sidebar {
      position: fixed;
      margin-left: -200px;
      transition: margin-left 0.3s ease; } }

#main-nav {
  list-style: none;
  margin: 0;
  padding: 30px 0; }
  #main-nav > li {
    border-top: 1px solid #232A2F;
    cursor: pointer;
    padding: 10px 0px 10px 15px; }
    #main-nav > li:first-child {
      border-top: 0; }
    #main-nav > li:last-child {
      border-bottom: 1px solid #232A2F; }
    #main-nav > li.active {
      background: #1A2229;
      border-left: 4px solid #64B5F6;
      padding: 10px 11px; }
  #main-nav i {
    margin-right: 10px; }
  #main-nav li:hover {
    background-color: #1A2229; }
  #main-nav a {
    color: #EEEEEE;
    display: block;
    font-weight: 400; }
  #main-nav .fa-lg {
    line-height: 1em;
    vertical-align: middle; }

.sub-nav {
  background: #232A2F;
  display: none;
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  .sub-nav li {
    padding: 5px 10px 5px 25px; }
    .sub-nav li.active {
      background: #1A2229;
      border-left: 4px solid #1A7CEF;
      padding: 5px 10px 5px 21px; }
    .sub-nav li:hover {
      background: #00ACAC; }
  .sub-nav.open {
    display: block; }

/**
*---------------------------------------------------------
* Profile
*---------------------------------------------------------
*/
.profile-data-wrapper {
  background-color: #ffffff;
  padding-bottom: 20px; }
  .profile-data-wrapper .profile-data-header {
    background-color: #1A7CEF;
    height: 175px;
    position: relative; }
    .profile-data-wrapper .profile-data-header .name {
      color: #ffffff;
      font-size: 2em;
      font-weight: 400;
      padding-top: 20px;
      text-align: center; }
    .profile-data-wrapper .profile-data-header img {
      border-color: #ffffff;
      border-width: 5px;
      border-style: solid;
      border-radius: 100px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
      -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
      display: block;
      height: 200px;
      left: 50%;
      margin-left: -100px;
      position: absolute;
      top: 70px;
      width: 200px; }
  .profile-data-wrapper .profile-data-body {
    padding: 130px 20px 20px 20px; }
    .profile-data-wrapper .profile-data-body ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .profile-data-wrapper .profile-data-body ul li {
        border-bottom: 1px solid #EEEEEE;
        padding: 15px 0; }
        .profile-data-wrapper .profile-data-body ul li:last-of-type {
          border-bottom: 0; }
        .profile-data-wrapper .profile-data-body ul li .row div:last-child {
          color: #2D353C;
          font-weight: 600; }

/**
*---------------------------------------------------------
* Profile Settings
*---------------------------------------------------------
*/
.nav-tabs.tabs-header {
  border: 0; }
  .nav-tabs.tabs-header li {
    margin-right: 3rem; }
  .nav-tabs.tabs-header .nav-link {
    border: 0;
    color: #757575;
    font-size: 1em;
    font-weight: 600;
    padding: 1rem 0;
    text-transform: uppercase; }
    .nav-tabs.tabs-header .nav-link:hover {
      border: 0;
      color: #2D353C; }
    .nav-tabs.tabs-header .nav-link:focus, .nav-tabs.tabs-header .nav-link.active {
      background-color: transparent;
      border: 0;
      border-bottom: 4px solid #1A7CEF;
      color: #2D353C; }

.tabs-content {
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px; }

/**
*---------------------------------------------------------
* Post Form
*---------------------------------------------------------
*/
#post-content {
  height: 400px; }

#post-tags {
  position: relative; }
  #post-tags .post-tags-wrapper {
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border-color: #E0E0E0;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    position: relative; }
    #post-tags .post-tags-wrapper #tag-input {
      border: 0;
      padding: 5px;
      max-width: 100%; }
      #post-tags .post-tags-wrapper #tag-input:focus {
        outline: 0; }
    #post-tags .post-tags-wrapper .tag-item {
      align-items: center;
      background-color: #1A7CEF;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      color: #fff;
      display: flex;
      font-weight: 600;
      margin-right: 5px;
      padding: 5px 8px; }
      #post-tags .post-tags-wrapper .tag-item i {
        display: flex;
        float: right;
        margin-left: 10px; }
        #post-tags .post-tags-wrapper .tag-item i:hover {
          color: #1D67F4;
          cursor: pointer; }

#tag-sug {
  border-top-color: #232A2F;
  border-top-width: 5px;
  border-top-style: solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  display: none;
  margin-bottom: 50px;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 200px;
  z-index: 2000; }
  #tag-sug .tag-sug-item {
    border-bottom: 1px solid #E0E0E0;
    padding: 8px 5px; }
    #tag-sug .tag-sug-item.selected, #tag-sug .tag-sug-item:hover {
      background-color: #1A7CEF;
      color: #fff;
      cursor: pointer; }
    #tag-sug .tag-sug-item:last-child {
      border-bottom: 0;
      border-radius: 0 0 3px 3px; }

.preview {
  border-bottom: 1px solid #EEEEEE;
  padding: 20px 0; }
  .preview:last-child {
    border-bottom: 0; }

.notification {
  border-bottom: 1px solid #EEEEEE;
  color: #47505E; }
  .notification:last-child {
    border-bottom: none; }

.notification__header {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 15px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .notification__header.good {
    background-image: linear-gradient(70deg, yellow, red); }
  .notification__header.bad {
    background-image: linear-gradient(70deg, #0f448a, #75aaf0); }

.notification__body {
  padding: 15px 0; }
  .notification__body a {
    color: #47505E; }
    .notification__body a:hover {
      color: #00B0FF; }
    .notification__body a .name {
      font-weight: 600; }
  .notification__body .date {
    color: #758296;
    font-size: 0.8em;
    padding-bottom: 3px; }

/**
*---------------------------------------------------------
* Post List
*---------------------------------------------------------
*/
.post-wrapper .post__status {
  padding-left: 10px; }
  .post-wrapper .post__status.not-solved {
    border-left: 3px solid red; }
  .post-wrapper .post__status.solved {
    border-left: 3px solid #00cc00; }

.post-wrapper .post__header .info {
  color: #758296;
  font-size: 0.8rem; }

.post-wrapper .post__header .title {
  padding: 5px 0; }
  .post-wrapper .post__header .title a {
    color: #47505E;
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-weight: 700; }
    .post-wrapper .post__header .title a:hover {
      color: #1a80e6; }

.post-wrapper .post__header .tags {
  display: block; }

.post-wrapper .post__body {
  padding-top: 20px; }

#post-set-solved {
  display: flex;
  align-items: center; }

.answer #post-content {
  height: 250px; }

.tag {
  font-size: 0.75em; }

.answer__wrapper {
  border-bottom: 1px dashed #E0E0E0;
  padding: 30px 0; }
  .answer__wrapper:last-child {
    border-bottom: none; }
  .answer__wrapper .answer__header {
    background-color: #fff;
    color: #2D353C;
    font-weight: 600; }
    .answer__wrapper .answer__header .date {
      color: #758296; }
    .answer__wrapper .answer__header .xp {
      color: #758296;
      font-weight: 400; }
  .answer__wrapper .answer__body {
    padding-left: 0;
    padding-right: 0; }

.answer__status {
  display: flex;
  height: 6px;
  width: 100%; }
  .answer__status .answer-status-up {
    background-color: #64B5F6;
    border-radius: 3px 0 0 3px;
    transition: width 1s ease;
    -webkit-transition: width 1s ease;
    width: 25%; }
  .answer__status .answer-status-down {
    background-color: #1D67F4;
    border-radius: 0 3px 3px 0;
    transition: width 1s ease;
    -webkit-transition: width 1s ease;
    width: 75%; }

.answer__vote {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px; }
  .answer__vote .vote-count {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 10px; }
  .answer__vote .answer__vote-btn {
    border: hidden;
    display: flex; }
    .answer__vote .answer__vote-btn:focus {
      box-shadow: none; }

.footer-wrapper {
  background-color: #fff;
  color: #2D353C;
  padding-top: 30px;
  padding-bottom: 20px; }
  .footer-wrapper .footer-logo {
    font-size: 2em;
    font-weight: 300; }
  .footer-wrapper .footer-slogan {
    font-size: 1.4em; }
