/*
*---------------------------------------------------------
* Errors & Alerts
*---------------------------------------------------------
*/

// Flash alert errors
.flash-wrapper {
  left: 50%;
  margin-left: -200px;
  position: fixed;
  top: 30px;
  width: 400px;
  z-index: 3000;
}

.flash-alert {
  @include box-shadow(0, 6px, 12px, rgba(0,0,0,0.15));
  font-size: 1rem;
  margin-bottom: 10px;
  opacity: 1;
  position: relative;
  top: 0;
  z-index: 3001;

  .alert {
    background-color: $white;
    border: 0;
    margin-bottom: 0;
    padding: 20px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);

    .alert-headline {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .alert-body {
      padding-top: 10px;
    }

    &.alert-success {
      background: linear-gradient(130deg, $color-green-dark, $color-green);
      color: $color-white;
    }

    &.alert-danger {
      background: linear-gradient(130deg, $color-red, $color-red-light);
      color: $color-white;
    }

    &.alert-warning {
      background: linear-gradient(130deg, $color-orange, $color-orange-light);
      color: $color-white;
    }

    &.alert-info {
      background: linear-gradient(130deg, $color-blue, $color-blue-light);
      color: $color-white;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .flash-wrapper {
    left: 0;
    margin: 0;
    padding: 0 10px;
    width: 100%;
  }
}