.footer-wrapper {
  background-color: $white;
  color: $middle;
  padding-top: 30px;
  padding-bottom: 20px;

  .footer-logo {
    font-size: 2em;
    font-weight: 300;
  }

  .footer-slogan {
    font-size: 1.4em;
  }
}