/**
*---------------------------------------------------------
* Basic styles
*---------------------------------------------------------
*/

.main-header {
  background-color: palette(White);
  border-bottom: 1px solid $lightest;

  &.row {
    padding: 20px 0;
  }

  &.has-tabs {
    padding-bottom: 0;
  }

  h3 {
    font-weight: 600;
  }

  .header-subline {
    color: $lightmiddle;
  }
}

.breadcrumb-wrapper {
  &.row {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  nav.breadcrumb {
    background-color: transparent;
    margin: 0;
    padding-left: 0;

    .breadcrumb-item {
      font-size: 0.85rem;
    }
  }
}