/**
*---------------------------------------------------------
* Front Page - Login and register form / logo
*---------------------------------------------------------
*/

.content-wrapper-auth {
  background: $color-lightest;
  height: 100vh;
  padding: 50px 15px;
}

.tank-auth {
  z-index:1;

  .tank-auth__logo {
    color: $font-color-secondary;
    font-weight: 300;
    line-height: 0.8em;
    padding: 40px 10px;
    text-align: center;

    span {
      font-size: 0.5em;
    }
  }

  .tank-auth__tabs {
    border: 0;
    margin-left: -15px;
    margin-right: -15px;

    li {
      margin-right: 0;
    }

    .nav-item {
      margin-bottom: -3px;
    }

    .nav-link {
      background-color: $color-lightest;
      border: 0;
      border-radius: 0;
      color: $font-color-light;
      font-size: 1em;
      font-weight: 600;
      letter-spacing: 1.4px;
      padding: 1rem 0;
      text-transform: uppercase;

      &:hover {
        color: $font-color-secondary;
      }

      &:focus, &.active {
        background-color: transparent;
        border: 0;
        border-top: 3px solid $color-secondary;
        border-bottom: 0;
        color: $font-color-secondary;
      }
    }
  }
}

.tank-auth__form-control {
  border-bottom: 1px solid $color-light;
  padding: 10px 0;

  &:first-child {
    border-top: 1px solid $color-light;
  }

  label {
    color: $font-color-light;
    font-weight: 400;
    margin-bottom: 0;

    &.selected {
      color: $font-color-primary;
      font-weight: 600;
    }
  }

  input {
    border: 0;
    margin-bottom: 0;
  }
}

.tank-auth__form {
  line-height: normal;
  padding: 0;

  .form-header {
    font-size: 1.6em;
    font-weight: 700;
  }

  .register-link {
    display: block;
    text-align: center;
  }
}

#login-info {
  position: relative;
  transform: translateY(-242px);
  transition: transform 1s ease-in-out;
  z-index: 0;

  .login-info-body {
    background-color: $white;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    color: $font-color-light;
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px 20px 30px 20px;
  }

  @media screen and (max-width: 767px) {
    .login-info-body {
      margin-left: 0;
      margin-right: 0;
      padding: 40px 10px 30px 10px;
    }
  }

  .login-info-btn {
    background-color: $white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 25px;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    span {
      display: inline-block;
      transform: rotate(0deg);
      transition: transform 1s ease-in-out;

      &.up {
        transform: rotate(180deg);
      }
    }
  }
}