/*
==================================================
	SIDE NAVIGATION
==================================================
*/

#nav-sidebar {
  background: $navigation;
  bottom: 0;
  color: $active;
  float: left;
  margin-left: 0px;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: $header-height + 1px;
  @include transition(margin-left, 0.3s, ease);
  width: $navigation-width;
  z-index: 1199;

  .brand {
    color: palette(White);
    font-size: 1.6em;
    font-weight: 300;
    padding: 30px;
    text-align: center;
  }

  .user-nav {
    margin: 10px 0;
    text-align: center;

    img {
      border-radius: 50px;
      display: block;
      height: 100px;
      margin: 0 auto;
      width: 100px;
    }

    .name {
      a {
        color: palette(White);
        display: block;
        font-size: 1.2em;
        font-weight: 600;
        padding: 10px 0 3px 0;

        &:hover {
          color: $lightblue;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    position: fixed;
    margin-left: -200px;
    transition: margin-left 0.3s ease;
  }
}

#main-nav {
  list-style: none;
  margin: 0;
  padding: 30px 0;

  > li {
    border-top: 1px solid $dark;
    cursor: pointer;
    padding: 10px 0px 10px 15px;

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-bottom: 1px solid $dark;
    }

    &.active {
      background: $darker;
      border-left: 4px solid $lightblue;
      padding: 10px 11px;
    }
  }

  i {
    margin-right: 10px;
  }

  li:hover {
    background-color: $darker;
  }

  a {
    color: $lightest;
    display: block;
    font-weight: 400;
  }

  .fa-lg {
    line-height: 1em;
    vertical-align: middle;
  }
}

.sub-nav {
  background: $dark;
  display: none;
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    padding: 5px 10px 5px 25px;

    &.active {
      background: $darker;
      border-left: 4px solid $blue;
      padding: 5px 10px 5px 21px;
    }

    &:hover {
      background: $active;
    }
  }

  &.open {
    display: block;
  }
}