/**
*---------------------------------------------------------
* Post List
*---------------------------------------------------------
*/



.post-wrapper {
  .post__status {
    padding-left: 10px;

    &.not-solved {
      border-left: 3px solid $color-red;
    }

    &.solved {
      border-left: 3px solid $color-green;
    }
  }

  .post__header {
    .info {
      color: $font-color-light;
      font-size: 0.8rem;
    }

    .title {
      padding: 5px 0;

      a {
        color: $font-color-secondary;
        line-height: 1.6rem;
        font-size: 1.4rem;
        font-weight: 700;

        &:hover {
          color: $color-blue;
        }
      }
    }

    .tags {
      display: block;
    }
  }

  .post__body {
    padding-top: 20px;
  }
}

#post-set-solved {
  display: flex;
  align-items: center;
}

.answer {
  #post-content {
    height: 250px;
  }
}

.tag {
  font-size: 0.75em;
}

.answer__wrapper {
  border-bottom: 1px dashed $lighter;
  padding: 30px 0;

  &:last-child {
    border-bottom: none;
  }

  .answer__header {
    background-color: $white;
    color: $middle;
    font-weight: 600;

    .date {
      color: $font-color-light;
    }

    .xp {
      color: $font-color-light;
      font-weight: 400;
    }
  }

  .answer__body {
    padding-left: 0;
    padding-right: 0;
  }
}

.answer__status {
  display: flex;
  height: 6px;
  width: 100%;

  .answer-status-up {
    background-color: $lightblue;
    border-radius: 3px 0 0 3px;
    @include transition(width, 1s, ease);
    width: 25%;
  }

  .answer-status-down {
    background-color: $darkblue;
    border-radius: 0 3px 3px 0;
    @include transition(width, 1s, ease);
    width: 75%;
  }
}

.answer__vote {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;

  .vote-count {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 10px;
  }

  .answer__vote-btn {
    border: hidden;
    display: flex;

    &:focus {
      box-shadow: none;
    }
  }
}
