.preview {
  border-bottom: 1px solid $lightest;
  padding: 20px 0;

  &:last-child {
    border-bottom: 0;
  }
}

.notification {
  border-bottom: 1px solid $lightest;
  color: $font-color-secondary;

  &:last-child {
    border-bottom: none;
  }
}

.notification__header {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 15px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);

  &.good {
    background-image: linear-gradient(70deg, $color-yellow, $color-red);
  }

  &.bad {
    background-image: linear-gradient(70deg, $color-dark-blue, $color-blue-light);
  }
}

.notification__body {
  padding: 15px 0;

  a {
    color: $font-color-secondary;

    &:hover {
      color: $color-primary;
    }

    .name {
      font-weight: 600;
    }
  }

  .date {
    color: $font-color-light;
    font-size: 0.8em;
    padding-bottom: 3px;
  }
}