/**
*---------------------------------------------------------
* Post Form
*---------------------------------------------------------
*/

#post-content {
  height: 400px;
}

#post-tags {
  position: relative;

  .post-tags-wrapper {
    align-items: center;
    @include border-radius;
    @include border($lighter);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    position: relative;

    #tag-input {
      border: 0;
      padding: 5px;
      max-width: 100%;

      &:focus {
        outline: 0;
      }
    }

    .tag-item {
      align-items: center;
      background-color: $blue;
      @include border-radius;
      color: $white;
      display: flex;
      font-weight: 600;
      margin-right: 5px;
      padding: 5px 8px;

      i {
        display: flex;
        float: right;
        margin-left: 10px;

        &:hover {
          color: $darkblue;
          cursor: pointer;
        }
      }
    }
  }
}