/**
*---------------------------------------------------------
* Profile
*---------------------------------------------------------
*/

.profile-data-wrapper {
  background-color: palette(White);
  padding-bottom: 20px;

  .profile-data-header {
    background-color: $blue;
    height: 175px;
    position: relative;

    .name {
      color: palette(White);
      font-size: 2em;
      font-weight: 400;
      padding-top: 20px;
      text-align: center;
    }

    img {
      @include border(palette(White), 5px);
      border-radius: 100px;
      @include box-shadow;
      display: block;
      height: 200px;
      left: 50%;
      margin-left: -100px;
      position: absolute;
      top: 70px;
      width: 200px;
    }
  }

  .profile-data-body {
    padding: 130px 20px 20px 20px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        border-bottom: 1px solid $lightest;
        padding: 15px 0;

        &:last-of-type {
          border-bottom: 0;
        }

        .row {
          div:last-child {
            color: $middle;
            font-weight: 600;
          }
        }
      }
    }
  }
}


/**
*---------------------------------------------------------
* Profile Settings
*---------------------------------------------------------
*/

.nav-tabs {
  &.tabs-header {
    border: 0;

    li {
      margin-right: 3rem;
    }

    .nav-link {
      border: 0;
      color: $lightmiddle;
      font-size: 1em;
      font-weight: 600;
      padding: 1rem 0;
      text-transform: uppercase;

      &:hover {
        border: 0;
        color: $middle;
      }

      &:focus, &.active {
        background-color: transparent;
        border: 0;
        border-bottom: 4px solid $blue;
        color: $middle;
      }
    }
  }
}

.tabs-content {
  border: 0;
  @include border-radius;
}