#tag-sug {
  //@include border($lighter);
  @include border-top($dark, 5px);
  @include border-radius;
  @include box-shadow;
  background-color: $white;
  display: none;
  margin-bottom: 50px;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 200px;
  z-index: 2000;

  .tag-sug-item {
    border-bottom: 1px solid $lighter;
    padding: 8px 5px;

    &.selected,
    &:hover {
      background-color: $blue;
      color: $white;
      cursor: pointer;
    }

    &:last-child {
      border-bottom: 0;
      border-radius: 0 0 3px 3px;
    }
  }
}